@media (max-width: 75em) {
    html {
        font-size: 56.25%;
    }

    .grid {
        row-gap: 4.8rem;
    }

    .heading-primary {
        font-size: 4.4rem;
    }

    .heading-secondary {
        font-size: 3.6rem;
    }

    .heading-tertiary {
        font-size: 2.4rem;
    }

    .header {
        padding: 0 3.2rem;
    }

    .main-nav-list {
        gap: 3.2rem;
    }

    .hero {
        gap: 4.8rem;
    }
}

@media (max-width: 58em) {
    html {
        font-size: 50%;
    }

    .hero {
        grid-template-columns: 1fr;
        padding: 0 8rem;
        gap: 6.4rem;
    }

    .hero-text-box,
    .hero-img-box {
        text-align: center;
    }

    .hero-img {
        width: 60%;
    }

    .project-description {
        padding: 2.4rem 3.2rem 3.2rem 3.2rem;
    }

    .project-links {
        column-gap: 6.4rem;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
    }

    .omnifood--card {
        grid-column: 1/-1;
        justify-self: center;
        width: 47%;
    }

    .header {
        justify-content: end;
    }

    .btn-mobile-nav {
        display: block;
        z-index: 9999;
    }

    .main-nav {
        background-color: rgba(255, 255, 255, 0.9);
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        transform: translateX(100%);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4.8rem;
        transition: all 0.5s ease-in;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
    }

    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }

    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }

    .main-nav-list {
        flex-direction: column;
        gap: 4.8rem;
    }

    .nav-btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .cv-btn {
        grid-column: 1 / -1;
        justify-self: center;
    }

    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3rem;
    }
}


@media (max-width: 38em) {
    .grid {
        grid-template-columns: 1fr;
    }

    .omnifood--card {
        width: 100%;
    }

    .hero-img {
        width: 80%;
    }

}

.no-flexbox-gap .main-nav-list li {
    margin-right: 4.8rem;
}

.no-flexbox-gap .nav-btns li:not(:last-child) {
    margin-right: 4.8rem;
}

.no-flexbox-gap .main-nav-list li {
    flex-direction: column;
    margin-bottom: 4.8rem;
}

.no-flexbox-gap .project-techs li:not(:last-child) {
    margin-bottom: 2.4rem;
}

.no-flexbox-gap .btn-mobile-nav {
    margin-left: auto;
}

@media (max-width: 59em) {
    .no-flexbox-gap .main-nav-list li {
        margin-right: 0;
    }

    .no-flexbox-gap .nav-btns li:not(:last-child) {
        margin-right: 0;
    }
}
