.header {
    display: flex;
    align-items: center;
    background-color: #fdf2e9;
    height: 9.6rem;
    padding: 0 4.8rem;
    position: relative;
}

.main-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 4.8rem;
}

.nav-btns {
    display: flex;
    align-items: center;
    justify-content: end;
    list-style: none;
    gap: 4.8rem;
}

.ml-auto {
    margin-left: auto;
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 1.8rem;
    transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
    color: #cf711f;
}

.main-nav-link.nav-cv:link,
.main-nav-link.nav-cv:visited {
    padding: 1.2rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
}

.main-nav-link.nav-cv:hover,
.main-nav-link.nav-cv:active {
    background-color: #cf711f;
}

.main-nav-link img {
    height: 3.2rem;
    opacity: 50%;
    transition: all 0.3s;
}

.main-nav-link img:link,
.main-nav-link.nav-cv:visited {

}

.main-nav-link img:hover,
.main-nav-link img:active {
    opacity: 1;
}

.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;
}

.icon-mobile-nav {
    height: 4.8rem;
    width: 4.8rem;
    color: #333;
}

.icon-mobile-nav[name="close-outline"] {
    display: none;
}

.sticky .header {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
    margin-top: 9.6rem;
}

.section-hero {
    background-color: #fdf2e9;
    padding: 4.8rem 0 9.6rem 0;
}

.hero {
    max-width: 120rem;
    margin: 0 auto;
    padding: 0 3.2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.hero-img {
    width: 100%;
}

.hero-description span {
    font-weight: 600;
}

.section-projects {
    padding: 9.6rem 0;
}

.project {
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
    border-radius: 11px;
    overflow: hidden;
    transition: all 0.4s;
}

.project:hover {
    transform: translateY(-1.2rem);
    box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
}

.project-img-box {
   height: 25rem;
    overflow-y: hidden;
}

.project-description {
    padding: 3.2rem 4.8rem 2.4rem 4.8rem;
}

.project-title {
    font-size: 2.4rem;
    color: #333;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.project-techs {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.project-tech {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
}

.list-icon {
    height: 2.4rem;
    width: 2.4rem;
    color: #e67e22;
}

.project-img {
    width: 100%;
}

.project-links {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2.4rem 3.2rem;
    column-gap: 3.2rem;
}

.git-logo {
    height: 3.2rem;
}

.btn--outline:link,
.btn--outline:visited {
    border-radius: 10px;
    box-shadow: inset 0 0 0 3px #fdf2e9
}

.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;
}

.btn--project {
    display: flex;
    justify-content: center;
    align-items: center;
}
